p {
    margin: 0 0 0.2em 0;
}

hr {
    visibility: hidden;
}

textarea {
    resize: vertical;
    font-size: 16px;
    word-break: break-all;
    white-space: pre;
}


textarea.result:focus {
    outline: none;
}

textarea#atcoder_html {
    width: 75%;
    height: 3em;
}

table#testcases {
    width: 100%;
}

table#testcases td {
    vertical-align: top;
}

table#testcases textarea {
    width: 95%;
    height: 4.5em;
}


.CodeMirror {
    border: solid 1px #999;
    height: 20em;
    resize: vertical;
    font-size: 16px;
}
